* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;

}
body{
  background: #fff8e7;
  color: #4b2b63;
  padding-top: 80px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: linear-gradient(90deg, #9b5de5, #f15bb5);
  color: white;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1000;
}
.nav-links {
  display: flex;
  gap: 20px;
}
.logo{
  font-size: 34px;
  font-weight: 600;
}
.logo:hover {
    animation: jump 0.4s ease;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.nav-item {
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}
.nav-item.active {
  background: white;
  color: #9b5de5;
}
.nav-item.na:hover {
    background-color: rgba(250, 250, 250, 0.242);
}

.logo:hover{
  cursor: pointer;
}
.main{
    padding: 20px;
}
.welcome-back{
    background: linear-gradient(90deg, #9b5de5, #f15bb5);
    color: white;
    padding: 30px;
    border-radius: 25px;
    margin: 30px 40px;
}
.welcome-back h1 {
  margin: 20px 0;
  font-weight:500;
  font-size: xxx-large;
}
.welcome-back p{
    font-size: 20px;
}
#textwelcomeback{
  color: #ffe66d;
  font-weight: 500;
}
.stats{
    display: flex;
    justify-content: space-evenly;
}
.blocks{
    height:125px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid grey;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    font-size: 22px;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.title h2{
    font-size: 26px;
    color: #6b21a8;
}
.title span{
  color: #9333ea;
}
.assignments {
  padding: 10px 40px 40px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.practicebox{
  background: white;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  position: relative;
}
.blocks:hover{
  animation: jump 0.4s ease;
}
